html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  /* Margin bottom by footer height */
  margin-left: 0;
  margin-right: 0;
  font-family: Georgia,"Times New Roman",Times,serif;

}

.footer {
  font-family: Georgia,"Times New Roman",Times,serif;
  padding-top: 2rem;
  line-height: 40px;
}

#footer{
    background-color: #ffebcd	;
    padding-top:20px;
}

.footer-text{
  font-size: 1.1em;
}
.jumbotron{
  background: url(images/jumbobg.png);
  background-size:100%;
  background-repeat: no-repeat;
  width: 100%;
  color:black;
  height: inherit;
}

.navbar{
  margin-bottom: 21px;
}

.nav-item{
  margin-left:10px;
}

@media (max-width: 768px) {
  .dropdown-menu{
    background-color:transparent;
    border:none;
  } 
  .navbar-drop{
    color:white;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

#menujumbo{
   background: url(images/menujumbo.jpg);
   color:white;
   background-size: 95%;
}

#performancesjumbo {
    background: url(images/concert.png);
    background-size: 100%;
    background-position: left;
    color: white;
    width: 100%;
}

#jobsjumbo {
    background: url(images/jobs.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
}
#indexjumbo {
    background: url(images/indexjumbobg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
}

#bgimg{
    background: url(images/drinksbg.jpg);
    background-size: 50%;
    padding: 10%;
    color: black;
    height: 100%;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
}

.overlay-title{
  color: #522727;
}

.textContainer { 
    height: 305px; 
    font-family: Georgia,"Times New Roman",Times,serif;

}

.textContainer p {
    display: inline-block;
    font-size: 4em;
    line-height: 300px;
}

.textContainer h2  {
    display: inline-block;
    font-size:2em;
    margin-left:auto;
    margin-right:auto;
    padding-top:10%;
}
.textContainer ul{
    margin-left:auto;
    margin-right:auto;
    padding-top:5%;
    text-align:left;
    line-height:50px;
}

#bgimgFood{
    background: url(images/foodbg2.jpeg);
    background-size: 100%;
    padding: 10%;
    color: black;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#bgimgMusic{
  background: url(images/musicbg.jpg);
  background-size:100%;
  background-repeat: no-repeat;

}

#bgimgEntertainment{
  background: url(images/entertainbg.jpg);
  background-size:100%;
  background-repeat: no-repeat;
}

.divtext{
   color:white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.parallax {
  background-image: url(images/marina.png);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.textbackground {
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  font-size: larger;
}

.textbackground img {
  margin: auto;
}
.description{
  font-size:32px;
  color: #3c3d61;
  margin-top:-5%;
}

.text {
  white-space: pre-line ;
  color: white;
  font-size: 1.5em;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.textContainer:hover .overlay {
  bottom: 0;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #FF9592;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.overlayFood {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FF9592;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.textContainer:hover .overlayFood {
  width: 100%;
}

.overlayDrink {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #FF9592;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.textContainer:hover .overlayDrink {
  width: 100%;
  left: 0;
}

.media img {
  padding: 25px;
}

.carousel-inner img {
  margin: 0 auto;
}

#about p{
  color:#522727
}

#index-info{
  background-color: #fd8480;
}

.blockquote{
  border-left: 5px solid #fd8480;
  padding-left:30px;
  margin-left:20px;
}

.lead{
  font-size:1.4em;
}
hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 3px groove #A7221F;
    border-bottom: 3px groove #CB413D;
    margin: 1em 0;
    padding: 0; 
}